crewai==0.30.11
# google-generativeai==0.7.2
# opencv-contrib-python==4.10.0.84
# opencv-python==4.10.0.84
# opencv-python-headless==4.9.0.80
opencv-python
google-generativeai==0.5.2
numpy
matplotlib
# scikit-image
scikit-learn
SQLAlchemy==2.0.35
fastapi==0.115.0
typing
uvicorn==0.30.6
requests
folium==0.17.0
logging
asyncio
httpx
pillow
pandas
pydeck
pydantic==2.9.2
bs4
litellm
protobuf
python-dotenv
regex
selenium==4.25.0
langchain==0.1.20
langchain-core==0.1.52
webdriver_manager
langchain-google-genai==1.0.3
